<div class="justify-content-center mt-3">
  <div class="col col-md-4">
    <h1 class="display-5"><%= t('.passing', title: @user_passed_test.test.title) %></h1>
    <p class="lead"><%= t('.from', current_number: @user_passed_test.current_question_number,
                          total_number: @user_passed_test.test.questions.count) %></p>
    <%= if @user.passed_test.test.timer? %>
      <p>
        Time left: <%= content_tag :span, '', class: 'timer', data: { time: @user_passed_test.time_left } %>
      </p>
    <% end %>
    <div class="progress">
      <%= content_tag :div, "", class: 'progress-bar',
                 data: { current_number: @user_passed_test.current_question_number,
                 total_number: @user_passed_test.test.questions.count },
                 role: 'progressbar',
                 value: @user_passed_test.current_question_number,
                 max: @user_passed_test.test.questions.count %>
    </div>
    <hr class="my-4">
    <p>
      <b><%= @user_passed_test.current_question.body %></b>
    </p>

    <%= form_with url: user_passed_test_path(@user_passed_test), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @user_passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <div class="form-check">
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input"%>
          <%= b.label class: "form-check-label" %>
        </div>
      <% end %>
      <hr class="my-4">
      <p><%= link_to 'Gist question', gist_user_passed_test_path(@user_passed_test), method: :post %></p>
      <p><%= form.submit t('.submit'), class: 'btn btn-light next' %></p>
    <% end %>
  </div>
</div>
