<header class='navbar'>
  <div class='container'>
    <%= link_to "TestGuru Admin Panel", root_path, id: :logo %>
    <nav>
      <ul class='nav'>
        <% if user_signed_in? %>
          <p class="nav user">
            <%= t('.welcome', name: current_user.first_name) %> |
            <%= link_to t('.logout'), destroy_user_session_path, method: :delete %> |
            <%= link_to 'Gists', admin_gists_path %> |
            <%= link_to 'Badges', admin_badges_path %>
          </p>
        <% else %>
          <li><%= link_to t('navbar.join_to_guru'), new_user_registration_path %></li>
          <li><%= link_to t('navbar.login'), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
